/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 80%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Lauren Gibson and this is the beginning of my CONTACT PAGE CSS for 318 Digital Typography November 2020 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(IMAGES/green_trees.jpeg)
      center fixed no-repeat;
    background-size:cover;
	
}

.center {
    width: 600px;
    max-width: 600px;
	padding: 2%;
    margin: 00px auto; /*this uses opacity of 75% for the background color*/
	text-align: center;

}

   
#logo {
    width: 300px;
    height: 200px; /* as the half of the width */
    background-color: lawngreen;
    border-top-left-radius: 210px;  /* 100px of height + 10px of border */
    border-top-right-radius: 210px; /* 100px of height + 10px of border */
    border-bottom-left-radius: 110px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 110px; /* 100px of height + 10px of border */
    border: 10px;
    border-bottom: 0;
}


h1,h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM ADOBE FONTS OR GOOGLE FONTS */
    font-family: story-tales, serif;
	font-size: 1.5em;
    letter-spacing: 0.1em;
    margin:0px center;
    margin-bottom: center;
    color: ghostwhite;
    border 20px 20px 20px 20px
    height:200px; /* as the half of the width */
    background-color: darkorange;
    border: 20px;
    border-bottom: 0;
    padding: 20px 20px 20px 20px;
    border: 15px groove greenyellow;
    
}

nav{
    font-family: garamond;
    color: #fff;
    font-size: 1.2em;
    width: 700px;
    margin: 0 auto;
    border: 15px groove greenyellow;
    border-width: 3px 0;
    text-align: center;
    margin-top: 0em;
    border-style: ridge;
    background-color: green
    }

nav li{
    display: inline
    }
nav a{
    display:inline-block;
    padding: 10px;
    }

a{
    color:#fff;
    text-decoration: none;
    font-weight: bold;

}

a:hover{
    color: #fff;
    background:orange;
    }
